[2018-02-20 21:17] pusnik opened #2 "Cannot authenticate user. Status: 500"
After following the steps for Google setup and setting up the docker-compose.yml file I get the Cannot authenticate the user. Status: 500 at the last step when trying to authenticate through SSO with my GSuite account at https://localhost:8443/#/sign-in

It seems that the access token and user data are retrieved but then somehow null pointer error is received.

Trace from docker log:

[code]

[2018-02-21 20:38] hlavki commented on #2
Hi @pusnik, problem is in documentation. It's mistake and I am sorry for that.
If you followed [configuration](https://github.com/hlavki/g-suite-identity-sync/wiki/Install#configuration) documentation, it said that, you have to run command `config:edit eu.hlavki.identity.google`.
This is configuration change for non-released 0.3.x version, for 0.2.x version the proper value is:
`config:edit eu.hla

[2018-02-22 06:09] pusnik commented on #2
Thank's! Will try it out.

[2018-03-13 10:19] bclermont opened #3 "Hardcoded Public Client URL"
It seem that the client URL hardcode https://localhost:8443: https://github.com/hlavki/g-suite-identity-sync/blob/ab347c294d61bbe2dc355ca8bd0df88037aba333/services-rest/src/main/config/eu.hlavki.identity.properties#L1

this is problematic in many ways:

first, that port is not exposed https://github.com/hlavki/g-suite-identity-sync/blob/master/distribution/src/main/docker/Dockerfile#L29

then, how

[2018-03-13 14:50] hlavki commented on #3
Thanks @bclermont for info. I'll look to traefik and try it.

[2018-03-14 11:38] hlavki commented on #3
I fixed it and removed `hostname` configuration property and added [compose example](https://github.com/hlavki/g-suite-identity-sync/blob/master/docker-compose-traefik.yml) with traefik.

Important note is that you have to use latest snapshot version of image `hlavki/g-suite-identity-sync:0.3.0-SNAPSHOT` and change configuration name to `eu.hlavki.identity.google`:

[code]

The new version will be

[2018-03-14 11:38] #3 closed

[2018-03-15 16:34] hlavki commented on #2
Closing this issue. Reopen, if problems persist.

[2018-03-15 16:34] #2 closed

[2018-03-18 13:56] hlavki opened #4 "Add configurable scheduler for synchronization tasks"

[2018-03-18 13:57] hlavki opened #5 "Add support for Gitlab REST API to create users and set group permissions"

[2018-03-28 14:58] DeltaLima opened #6 "Installation fails - invalid HTTPS response"
Hi there!
I tried to install the g-suite-identity-sync but i fail at the same point. When i try to open up https://localhost:8181 then i get the response:

Error code: <a id="errorCode" title="SSL_ERROR_RX_RECORD_TOO_LONG">SSL_ERROR_RX_RECORD_TOO_LONG</a>

I followed the installation guide step by step. Got no errors.+

I want to use this script in a production environment in the company where i s

[2018-03-28 15:37] hlavki commented on #6
Yeah, another mistake in documentation. This is change made in version 0.3.1. You have to change _Authorized Redirect URI_ to http://localhost:8181/cxf/oidc/rp/complete

See: [Create authorization credentials for Web Application](https://github.com/hlavki/g-suite-identity-sync/wiki/GSuite-configuration#create-authorization-credentials-for-web-application)

[2018-03-28 15:49] DeltaLima commented on #6
Cool, thank you! :) I'll try this!

[2018-05-14 10:05] cdejardin opened #7 "Client is unauthorized to retrieve access tokens using this method"
Hello,

I did follow all the steps in the documentation, i launch the containers, i open my browser to the right URL, i clic on sign-in, i'm logged with the right google account, and when i'm redirected, i got this error on the logs:

`identity_1  | 2018-05-14T10:01:41,515 | INFO  | qtp1837767860-96 | LoggingOutInterceptor            | 41 - org.apache.cxf.cxf-core - 3.2.2 | Outbound Message
identi

[2018-05-14 19:39] hlavki commented on #7
Hi,

I think there is some problem with [Delegating domain-wide authority to the service account](https://github.com/hlavki/g-suite-identity-sync/wiki/GSuite-configuration#craete-service-account-and-permissions).

According to [documentation](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority) you have to specify **Client ID** and scopes in comma delimited fo

[2018-05-15 08:29] cdejardin commented on #7
Hi,

Thanks a lot for the quick answer, i originally did not understand that we had to put the 2 scopes.

It's working as expected now, i'm connected.

I'll close the issue.

Best regards.

[2018-05-15 08:29] #7 closed

[2018-06-04 21:51] hlavki opened #8 "Consider etag to improve synchronization time"

[2018-06-14 12:03] rsaple opened #9 "Get a "No service was found" message when clicking on the Sign in button"
Here's the thing. I have created a trial GSuite account just for testing this particular utility. Did the pre-install gsuite- configuration as described without any issue. Edited the docker-compose.yml to reflect our ldap setup. Ran the docker commands successfully. I can access the homepage on localhost:8181. But when I click on the sign in button I get a terse message saying "No service was foun

[2018-06-14 20:06] hlavki commented on #9
This looks like problem with LDAP connection. Synchronizer needs to be connected to existing LDAP. Can you send me full log and docker-compose.yml?

[2018-06-15 06:57] rsaple commented on #9
Have a samba server(ldap) sitting on the domain agni.loc which I can access and query(ldapsearch) successfully. Does the ldap domain and the gsuite domain need to be the same for this to work?

[code]

And here's the full log trace

[log_trace.txt](https://github.com/hlavki/g-suite-identity-sync/files/2105069/log_trace.txt)

[2018-06-15 07:09] hlavki commented on #9
Hi,
this looks like cause of problem:
[code]

When you run:

[code]
Can you see correct LDAP credentials?

[2018-06-15 07:40] hlavki commented on #9
Definitely not dump question, configuration needs improvements.
Anyway one way to change configuration is to create cmd file e.g. `ldap.cmd` that contains:

[code]
Values of `ldap.users.baseDN` and `ldap.groups.baseDN` are relative to `ldap.baseDN`.

then execute:

[code]

[2018-06-15 08:43] rsaple commented on #9
Im still getting the invalid credentials error. I can succesfully execute the below ldap query statement without any invalid credentials error
ldapsearch -H "ldap://agni.loc" -D "cn=admin admin, cn=users, dc=agni, dc=loc" -b "dc=agni,dc=loc" -W

Here's the relevant parts of log
[log_trace1.txt](https://github.com/hlavki/g-suite-identity-sync/files/2105371/log_trace1.txt)

[2018-06-15 10:23] rsaple commented on #9
I changed config:property-set ldap.host agni.loc to point to my IP rather than my hostname and rebooted my machine and it worked.

Only to get stuck on a different problem. I get an LDAP error when I create an LDAP account. Here's the error

[code]
Guess it's because I dont have a uid component, but a CN component in my DN schema.
Also CN stores usernames instead of email-ids. How do I make this a

[2018-06-15 12:13] hlavki commented on #9
Can you please create separate issue and describe your requirements? I think this needs some code changes.

[2018-06-15 12:15] rsaple commented on #9
Sure. Thanks

[2018-06-15 12:21] rsaple opened #10 "uid to cn mapping issue"
I finally installed this utility after some initial glitches. However, I get an LDAP error when I create an LDAP account. Here's the error

[code]
Guess it's because I'm using Samba as my LDAP Server which uses a Windows LDAP Schema(CN and not uid as for Unix systems) for interoperability reasons. Is there a way I can map uid to cn when making an entry into the ldap.
Also CN stores usernames inste

[2018-06-15 12:22] #9 closed

[2018-07-10 22:02] hlavki commented on #10
Can you please test it with docker image `hlavki/g-suite-identity-sync:issue-10`. It should create user entry with `CN=email` instead of `UID=email`

[2018-07-29 18:49] hlavki commented on #4
Added scheduled job which runs every hour and synchronize group membership. Cron scheduler can be configured via [scheduler command](https://karaf.apache.org/manual/latest/#_scheduler)

[2018-07-29 18:49] #4 closed

[2018-07-30 12:02] hlavki opened #12 "Disable full CXF message payload log by default"

[2018-07-30 12:23] #12 closed

[2018-08-14 20:43] sonatype-depshield[bot] opened #13 "DepShield encountered errors while building your project"
The project could not be analyzed because of maven build errors. Please review the [error messages here](https://depshield.sonatype.org/error/hlavki/g-suite-identity-sync/kqKGraiJYrpZZz4XlnYeYA). Another build will be scheduled within 24 hours. If the build is successful this issue will be closed, otherwise the [error message](https://depshield.sonatype.org/error/hlavki/g-suite-identity-sync/kqKGr

[2018-09-04 03:13] egeste opened #14 "Interceptor Null Pointer Exception"
[code]

[2018-09-04 03:13] egeste commented on #14
I honestly don't know where to start here. Some debug tips would be appreciated

[2018-09-04 06:51] hlavki commented on #14
@egeste thanks for report, could you please send me full log directly to email miso [at] hlavki.eu. This looks like there is problem with obtain client access token. I think there is another error before this one. thanks

[2018-09-04 18:01] egeste opened #15 "Unable to create LDAP account"
## After much effort I was able to get the service running & log in:
![screenshot from 2018-09-04 10-58-59](https://user-images.githubusercontent.com/536059/45048846-c7657000-b031-11e8-881c-724f739cc2cd.png)

## But when I attempt to save my account to LDAP I see the following error:
![screenshot from 2018-09-04 10-52-33](https://user-images.githubusercontent.com/536059/45048705-73f32200-b031-11e8

[2018-09-04 18:38] hlavki commented on #15
@egeste, same with previous issue, could you please paste exception from log? thanks

[2018-09-04 18:41] hlavki commented on #15
Also do you use version 0.3.3?

[2018-09-04 19:15] egeste commented on #15
@hlavki I'm using the docker image from dockerhub, specifically the image identifier I'm using is `hlavki/g-suite-identity-sync:latest`, which looks like it's a reference to `0.3.3`. I'll post the logs a little later today. Thanks for this project and for helping out. I'll make sure I include logs with any future requests or problems.

Cheers.

[2018-09-04 19:21] hlavki commented on #15
No problem, it's ok to not post logs here, because can contain confidential information. It's better to send log files directly to my email.

[2018-09-04 19:35] egeste commented on #15
It looks like the actual error has something to do with this line:

`�[90m17:38:57.457�[0m �[1;33mWARN �[m �[90m[qtp1966079899-116]�[0m Group for external accounts null does not exists
`

[2018-09-04 19:41] egeste commented on #15
Followup: I flipped the "sync password" toggle on and now it works. It's not optional.

[2018-09-04 19:44] egeste opened #16 "Don't try to fuck with me!"
https://github.com/hlavki/g-suite-identity-sync/blob/ead9ae4d48388c9e3c2b360a8420b3976244e59a/services-rest/src/main/java/eu/hlavki/identity/services/rest/model/CreateAccountData.java#L13

https://github.com/hlavki/g-suite-identity-sync/blob/ead9ae4d48388c9e3c2b360a8420b3976244e59a/services-rest/src/main/java/eu/hlavki/identity/services/rest/model/UpdateAccountData.java#L11

[2018-09-04 19:48] hlavki commented on #15
No, sync password toggle is optional. I've tested it righ now. I think your problem was in expired session, which was reason of that 401 error. Anyway, glad to hear it works!

[2018-09-04 19:51] egeste commented on #15
Expired session? Is there something I need to do to clear an old session or something? I authenticated just before I attempted

[2018-09-04 19:53] hlavki commented on #15
No, nothing like that, but user's session expires after some time of inactivity. Obviously not your scenario. Strange.

[2018-09-04 20:04] hlavki commented on #16
:) sorry, will change that, anyway this error should appear only when you somehow break javascript checks and send invalid password to backend.

[2018-09-04 20:08] hlavki commented on #16
Argh, I can reproduce it. You should not be able to create/update account when passwords are invalid. Thanks for report.

[2018-09-04 20:10] hlavki opened #17 "Wrong width on mobile devices"

[2018-09-04 22:07] egeste commented on #16
Well my thought was that I can't put this in front of my CEO and have him sync his creds into LDAP with this tool because as soon as he sees that message he's going to freak out and be like "did someone just steal my password?" :/

[2018-09-04 22:08] #15 closed

[2018-09-05 06:36] #17 closed

[2018-09-05 06:36] #16 closed

[2018-09-05 07:19] #13 closed

[2018-09-05 09:07] hlavki commented on #16
new version 0.3.4 released

[2018-09-26 16:38] BabuHzera opened #18 "Sign In Page Loop"
Hello, i'm trying to sync my g suite to an new ldap server, it's an vm with ubuntu 16.04. The ldap looks to be working fine, in the phpldapadmin i notice that the api created two OU's(Groups/People).

I got some google api problems with the localhost:8181, i normally access the server via local IP address (192.168.1.xxx), to work around this i've changed the hosts file to respond on foo-server.com

[2018-09-27 21:45] hlavki commented on #18
@BabuHzera, it looks like you did not finish installation steps from [Wiki](https://github.com/hlavki/g-suite-identity-sync/wiki/Install).

[2018-10-01 23:12] BabuHzera commented on #18
Hey @hlavki, i did all the steps, following then step by step. first on g suite, then on my vm.

Could u give me ur e-mail so i can send u more details about the install ?

Thanks in advance

[2018-10-02 18:55] hlavki commented on #18
My email should be visible in my profile.

[2018-10-05 07:35] hlavki opened #20 "Remove LDAP account for external gmail user when group memership was removed"
Remove LDAP account and his LDAP groups membership, when external user is removed from exernal group in GSuite Admin

[2018-10-05 07:58] hlavki commented on #20
Remove LDAP account and his LDAP groups membership, when external user is removed from exernal group in GSuite Admin

[2018-10-05 21:44] #18 closed

[2018-10-06 13:40] hlavki commented on #18
@BabuHzera does that means, it works for you?

[2018-12-18 09:18] hlavki opened #21 "No status for external user group membership"
Google stopped sending of status attribute for external user membership.
Filter for status == ACTIVE was removed in version 0.3.6 so all users are synchronized.

[2019-01-17 13:07] sabinlald opened #22 "Get "No service was found" while clicking sign in"
I think i have configured as your documentation but i am still getting the issue .I am using 0.3.6 bu. I am not able to find why this is happening
[code]

[2019-01-17 14:58] hlavki commented on #22
thanks for report @sabinlald, but this information is not enought to figure it out. Can you send me full `karaf.log` to my email, which can be found in my profile.
You can use `docker cp` to obtain `/opt/karaf/data/log/karaf.log` file. thanks

[2019-01-24 17:35] alessandrosales opened #23 "Customize Authentication Form"
I have to customize the authentication form, can you explain what the flow would be to get this job done?

[2019-01-24 19:15] alessandrosales commented on #23
In the web / src / components / Home.vue file I need to replace the password label and hide the Synchronize GSuite Password option

[2019-01-25 15:18] hlavki commented on #23
Sorry @alessandrosales, but I think the only way at this moment is to fork repository and do needed changes. Feel free to ask if you need any help with that.

[2019-03-03 09:44] hlavki opened #25 "Integrate push notifications"
It looks that G Suite admin SDK supports push notifications for changes. It will be great to support then instead of scheduler.

https://developers.google.com/admin-sdk/directory/v1/guides/push

[2019-03-03 09:45] hlavki commented on #23
Closing this due to inactivity. Feel free to open new issue if you have any questions.

[2019-03-03 09:45] #23 closed

[2019-03-03 09:46] hlavki commented on #22
Closing this due to inactivity. Fee free to open new issue if you have any question.

[2019-03-03 09:46] #22 closed

[2019-03-07 22:16] hlavki opened #26 "Google is deprecating Google+ API"
Google+ API URL https://www.googleapis.com/plus/v1/people/me/openIdConnect now returns only subset of information and probably will be deleted in future.

[2019-03-07 22:18] hlavki commented on #26
Fix for this issue is to change URL to https://openidconnect.googleapis.com/v1/userinfo

[2019-03-07 22:22] hlavki commented on #26
fixed by 08f8cfdf7c375648cbacd80b2e9caa45367ef162

[2019-03-07 22:22] #26 closed

[2019-03-08 21:55] hlavki opened #27 "X-Forwarded-Proto header is not considered in OAuth2 redirect URI"
When I am using apache2 as proxy server with configuration:

[code]

then OAuth2 redirectUri uses http instead of https scheme.

[2019-03-08 22:22] #27 closed

[2019-03-11 16:04] hlavki commented on #25
Unfortunately they support only notifications on user entity

[2019-03-11 22:14] jove4015 opened #28 "after login, javascript errors"
I went through and set everything up according to the instructions.  Triple checked all config options.  There are no exceptions in my log files.  LDAP connects properly, and Gsuite setup / login is all correct.  However, when I go to Sign In, I log in through google, and then get sent right back to the Sign In page with no explanation.

Shame, it took a long time to set up, I'm really hoping I ca

[2019-03-11 22:50] jove4015 commented on #28
Sorry - I ultimately found in the dev console that google was returning some nonsense which I fixed.  Now I have another issue:

![image](https://user-images.githubusercontent.com/228216/54163181-8447e780-442e-11e9-948d-aaad80334e2c.png)

It seems to log me in but I can't actually do anything.

[2019-03-11 22:51] jove4015 commented on #28
Inside the 403 forbidden, it says:

{
 "error": {
  "errors": [
   {
    "domain": "global",
    "reason": "forbidden",
    "message": "Not Authorized to access this resource/api"
   }
  ],
  "code": 403,
  "message": "Not Authorized to access this resource/api"
 }
}

But there's no indication as to what API it's referring to.

[2019-03-12 10:07] hlavki opened #29 "Prepare video tutorial for GSuite configuration"
Prepare step-by-step video tutorial for G-Suite configuration.

[2019-03-12 10:20] hlavki commented on #28
Hi @jove4015, did you configure steps 6 - 8 from [Craete Service account and permissions](https://github.com/hlavki/g-suite-identity-sync/wiki/GSuite-configuration#craete-service-account-and-permissions)

![permissions](https://user-images.githubusercontent.com/5858133/54192657-c74e9d00-44b8-11e9-8b98-8a6cb2213165.png)

[2019-03-13 08:54] hlavki commented on #25
Maybe [report push notifications](https://medium.com/google-cloud/consuming-and-validating-gsuites-audit-push-notification-on-appengine-a98a178ee82e) should help.

[2019-03-15 08:43] hlavki commented on #22
Please, don't use development versions. This version is not compatible with documentation. Thank you

[2019-03-22 21:56] #25 closed

[2019-03-22 21:56] hlavki commented on #25
fixed

[2019-03-23 19:34] hlavki commented on #28
Closing due to inactivity. Feel free to open new issue if any problem occurs.

[2019-03-23 19:34] #28 closed

[2019-04-04 09:34] hlavki opened #31 "Integrate I18n for internationalization"
Will be good to have support for multiple languages and also better customization

[2019-04-04 09:39] hlavki commented on #31
https://medium.freecodecamp.org/how-to-add-internationalization-to-a-vue-application-d9cfdcabb03b

[2019-04-04 14:20] hlavki commented on #31
implemented

[2019-04-04 14:20] #31 closed

[2019-04-04 18:26] hlavki commented on #20
Implemented with push notifications

[2019-04-04 18:26] #20 closed

[2019-04-05 20:42] hlavki opened #32 "Move suspended user to different subtree"
When user is [suspended](https://support.google.com/a/answer/33312?hl=en) by G Suite administrator, we should move it to some kind of deleted subtree.

[2019-04-08 12:14] faun88 opened #33 ""No service was found." when clicking Sign In"
Hi,

We currently have a FreeRADIUS running, but would like to login with our Gsuite credentials.

After running a few times through all commands in the installation procedure, I'm hitting the same error "No service was found." when clicking Sign in on http://localhost:8181/#/sign-in  - Screenshot [here](https://monosnap.com/file/vEaHQTpbcruxDHREdOI9sUoHMRUcdu).

Some files that might help:

[kara

[2019-04-08 15:21] hlavki commented on #33
`SLAPD_PASSWORD` and  `LDAP_ADMIN_PASSWORD` must be same in `docker-compose.yml`

[2019-04-08 19:19] hlavki commented on #33
And btw I am working on simpler configuration and then I'll prepare video tutorial

[2019-04-08 20:48] faun88 commented on #33
Hi, `SLAPD_PASSWORD` and `LDAP_ADMIN_PASSWORD `are indeed the same but the docker is still not working (same issue).

Is it correct that all LDAPD_ variables can be chosen freely and all GSUITE_ variables should match our Gsuite setup?

[2019-04-08 20:59] hlavki commented on #33
try to clean all and setup from scratch:
[code]

Yes, that's generaly true

[2019-04-08 21:28] faun88 commented on #33
It's still not working - something is wrong with my Gsuite settings I suppose:

Last output  from `docker-compose logs -f `:

`identity_1  | 21:22:21.865 INFO  [CM Configuration Updater (ManagedService Update: pid=[org.apache.cxf.osgi])] Service account private key was not  loaded from null`

[Full output](https://www.dropbox.com/s/5h8wshhtivs9xc4/log.txt?dl=0)

[2019-04-12 10:05] faun88 commented on #33
Hey,

After double-checking our Gsuite settings a few times, I don't think the issue is with my Gsuite settings now as the private key is successfully loaded but there appears to be an issue by reaching http://localhost:8181/cxf/oidc/

[Full docker logs](https://www.dropbox.com/s/abizcm2moumjxt3/dockerlogs.txt?dl=0)

[Karaf.log](https://www.dropbox.com/s/ld1ocbnvpiwhnrl/karaf.log?dl=0)

[code]

[2019-05-11 21:02] sonatype-depshield[bot] opened #34 "[DepShield] (CVSS 5.5) Vulnerability due to usage of org.bouncycastle:bcprov-jdk15on:1.54"
**Vulnerabilities**

DepShield reports that this application's usage of [org.bouncycastle:bcprov-jdk15on:1.54](https://ossindex.sonatype.org/component/pkg:maven/org.bouncycastle/bcprov-jdk15on@1.54) results in the following vulnerability(s):

- (CVSS **5.5**) [[CVE-2016-2427]  Information Exposure](https://ossindex.sonatype.org/vuln/5fb23be9-53f8-4537-9686-acfe99a15b46)

<hr />

**Occurrences**

o

[2019-05-17 14:59] maximka777 commented on #7
Hey @hlavki 👋
I faced with such issue as well. I set necessary permissions to service account, but still get 401.
<img width="522" alt="Снимок экрана 2019-05-17 в 17 57 44" src="https://user-images.githubusercontent.com/15107753/57936811-4c956a00-78cd-11e9-97cf-4d2566f9e24d.png">

[2019-05-20 16:16] maximka777 opened #36 "Since version 0.4.0 I can't sign in"
I get such response:
[code]
I used version 0.3.8 before and it was working.
I performed new installation steps.

[2019-05-20 16:24] hlavki commented on #36
Sorry, I forget to mention in documentation, that you have to do new intallation to upgrade to 0.4.0
As workaround you can use image: `hlavki/g-suite-identity-sync:0.3.8`

[2019-05-20 16:26] hlavki commented on #36
I'll write small tutorial how to upgrade to version 0.4.0

[2019-05-20 16:27] maximka777 commented on #36
I like the way of configuring service account data from version 0.4.0, so I will wait for tutorial :)
Or you could say what installation I have to make...
Thanks!

[2019-05-20 16:49] maximka777 commented on #36
Hm... I got back to 0.3.8 version and started getting NPE:
[code]
as in issue https://github.com/hlavki/g-suite-identity-sync/issues/14

[2019-05-20 17:13] hlavki commented on #36
Can you please try this small tutorial?
https://github.com/hlavki/g-suite-identity-sync/wiki/Upgrade-from-0.3.x

thanks

[2019-05-20 17:33] maximka777 commented on #36
I will check it tomorrow when I am near my computer.
There is new scope `https://www.googleapis.com/auth/admin.reports.audit.readonly`, I think it's a reason of my issue.
Thanks a lot :)

[2019-05-20 17:42] maximka777 commented on #36
It works perfectly! Thanks!

[2019-05-20 17:43] #36 closed

[2019-05-21 08:38] #33 closed

[2019-05-21 08:38] #21 closed

[2019-05-24 13:54] hlavki commented on #34
Closing according to https://jira.apache.org/jira/plugins/servlet/mobile#issue/CXF-7757

[2019-05-24 13:54] #34 closed

[2019-07-02 17:20] mhp0rtal opened #38 "Misuses of cryptographic APIs"
Hi
The following lines have cryptographic API misuses. <br> File name => services-google/src/main/java/eu/hlavki/identity/services/google/config/ConfigurationImpl.java: Line number => 253: API name => KeyStore:<BR> File name => services-google/src/main/java/eu/hlavki/identity/services/google/config/ConfigurationImpl.java: Line number => 250: API name => KeyStore:Second parameter should never be of

[2019-09-11 10:19] netifysrl opened #43 "Error after installatioon"
Hi After installatoon i receive this error, i'm new in docker, can you help me please ?

Unable to start container for blueprint bundle eu.hlavki.identity.gsync-services-synchronize-api/0.4.3 due to unresolved dependencies [(objectClass=eu.hlavki.identity.services.ldap.LdapAccountService)]
identity_1  | java.util.concurrent.TimeoutException
identity_1  |   at org.apache.aries.blueprint.container.B

[2019-09-11 13:50] hlavki commented on #43
@netifysrl, can you send me your docker-compose.yml ? You can use email in my profile.

[2019-09-19 15:04] sonatype-depshield[bot] opened #44 "[DepShield] (CVSS 9.8) Vulnerability due to usage of com.fasterxml.jackson.core:jackson-databind:2.9.8"
**Vulnerabilities**

DepShield reports that this application's usage of [com.fasterxml.jackson.core:jackson-databind:2.9.8](https://ossindex.sonatype.org/component/pkg:maven/com.fasterxml.jackson.core/jackson-databind@2.9.8) results in the following vulnerability(s):

- (CVSS **9.8**) [[CVE-2019-14379] SubTypeValidator.java in FasterXML jackson-databind before 2.9.9.2 mishandles de...](https://oss

[2019-09-22 09:22] debrian opened #45 "ErrorOccured"
Hi everyone. I'm trying to use your software in Docker to import from Google to LDAP. Everything is done according to the instructions, but it does not work. Couldn't tell you what the problem was?

docker-compose.yaml :

[code]

I get an error when entering json file:

<img width="516" alt="Screenshot 2019-09-22 at 12 15 40" src="https://user-images.githubusercontent.com/22290198/65385084-ce414c8

[2019-09-22 15:44] hlavki commented on #45
@debrian could please send me anonymized service account json? thanks

[2019-09-22 18:25] dterentev-gridd commented on #45
Thanks for answering.  Do you mean file service account?

[code]

[2019-09-22 20:36] hlavki commented on #45
thanks for answer, could you please do this steps (hope you have clean installation so you can remove all volumes):
[code]

update docker image version in `docker-compose.yml` to `hlavki/g-suite-identity-sync:0.4.6-SNAPSHOT`

And then try again to setup. I added some validation features, so popup window should be more informative when an error occurs. Now you can also reconfigure the service accou

[2019-09-23 09:31] dterentev-gridd commented on #45
Unfortunately the same error in http

[code]

[2019-09-23 09:42] hlavki commented on #45
thanks @dterentev-gridd, can you confirm you did Service account configuration according to [installation manual|https://github.com/hlavki/g-suite-identity-sync/wiki/GSuite-configuration#craete-service-account-and-permissions]?

1. Enabled G Suite Domain-wide Delegation on service account
2. It looks google again changes some settings, so 7. a 8. steps are basically now one checkbox (Enable API Ac

[2019-09-23 09:46] hlavki commented on #45
thanks @dterentev-gridd, can you confirm you did Service account configuration according to [installation manual|https://github.com/hlavki/g-suite-identity-sync/wiki/GSuite-configuration#craete-service-account-and-permissions]?

1. Enabled G Suite Domain-wide Delegation on service account
2. You have checked Enable API Access:
![image](https://user-images.githubusercontent.com/5858133/65415984-234

[2019-09-23 10:16] debrian commented on #45
Thanks. My mistake. I gave the rights to the API is not a service account,  to the account for oauth2. I look further.

[2019-09-23 11:55] hlavki commented on #45
@debrian does it mean, that it works?

[2019-09-23 13:05] debrian commented on #45
Yes. Thanks. There's been some progress. However, only the user whose email was entered in the api is synchronized. While trying to fix it myself.

[2019-09-23 13:10] hlavki commented on #45
Yes, that's basically how it works. It does not synchronize all users, but only those who set LDAP password. Google does not provide API to validate user's password!

[2019-09-23 13:10] #45 closed

[2019-09-23 13:32] debrian commented on #45
Not quite understood. Do I need to create oauth2 and service account separately for each user?

thanks in advance for your reply

[2019-09-23 13:36] hlavki commented on #45
No, of cource you don't need to create more than one service account. Now, it should work for every G Suite account. The only thing has to be done by every user is to open web application, login using g suite account and create LDAP password. Best approach is to set same password as in g suite account, so users will have only one password.

[2019-09-24 06:24] hlavki commented on #43
Original problem fixed via email. Please open open new issue, if there is another problem.

[2019-09-24 06:24] #43 closed

[2019-09-24 15:16] #44 closed

[2019-10-08 08:10] dterentev-gridd opened #48 "Work on the real domain"
I'm trying to use a Docker container. On localhost authorization works. But for authorization in google requires https. I designed https through nginx. But at authorization request I receive an error:

[2019-10-08 08:10] #48 closed

[2019-10-08 08:18] sysadmin-ut opened #49 "work on the real domain"
I'm trying to use a Docker container. On localhost authorization works. But for authorization in google requires https. I made proxy https through nginx. But at authorization request I receive an error:

`The redirect URI in the request, http://my.domain.com:8181/cxf/oidc/rp/complete, does not match the ones authorized for the OAuth client. To update the authorized redirect URIs:`

What options do

[2019-10-08 12:42] hlavki commented on #49
Hi @sysadmin-ut,
I think you need to add your domain to Authorized callback URI in web app credentials like this screenshot. Link to console: https://console.cloud.google.com/apis/credentials

![image](https://user-images.githubusercontent.com/5858133/66396222-93e5d980-e9d9-11e9-85af-b3d3d23ba5e0.png)

let mi know if it helps, thanks

[2019-10-08 15:34] sysadmin-ut commented on #49
Thanks for the answer. It is added to Google(https://my.domain.com/cxf/oidc/rp/complete). But the answer comes with the port 8181 and proto http.  Perhaps the problem is in the proxying itself. Is it possible to install ssl inside the container? Or is it not required?

[2019-10-08 16:03] hlavki commented on #49
It is possible to install certificate, but you don't need it. Yesterday I did example using traefik v2 and let's encrypt. I will add it to source code today or tomorrow and will let you know.

[2019-10-08 19:04] hlavki commented on #49
@sysadmin-ut, I've added example [docker-compose-traefik-v2-ssl.yml](https://github.com/hlavki/g-suite-identity-sync/blob/master/docker-compose-traefik-v2-ssl.yml) using traefik v2 and Let's encrypt SSL certificate.

I also have some installation using apache2, but none of them with nginx. But if traefik and apache2 works, nginx should also.

[2019-10-09 08:48] sysadmin-ut commented on #49
Thanks. It works.

[2019-10-09 08:48] #49 closed

[2019-10-17 17:03] renanwilliam opened #50 "GSSAPI Error: Unspecified GSS failure"
Hi,

I have installed with success and all web interface features is working. But after add my user, when I try to bind LDAP service I'm receiving:
`SASL [conn=1003] Failure: GSSAPI Error: Unspecified GSS failure.  Minor code may provide more information (Key table file '/etc/krb5.keytab' not found)`

Attached log files:
[log_file.txt](https://github.com/hlavki/g-suite-identity-sync/files/3740466/

[2019-10-20 20:33] hlavki commented on #50
This seems to be out of scope of this project, but what is your LDAP server configuration? Did you use example compose file?

[2019-10-21 12:23] renanwilliam commented on #50
Yes, I've used the example compose file. After some reboots, it's starting to works. It's ok now.

[2019-10-21 12:23] #50 closed

[2019-11-25 15:08] goneforaburton commented on #45
As of 4th November 2019, you cannot grant access to API's using the "Enable API Access" tick box on the security page. Are you able to give any detail around which API's are individually required to be enabled to get th identity service to work correctly please?

[2019-11-26 22:11] hlavki commented on #45
hi @goneforaburton, thanks for info. I need time to handle this. I'll let you know when I update documentation. Do you have any difficulties with this change, because all my installations work.

[2019-11-27 14:19] goneforaburton commented on #45
Hi @hlavki , it's difficult to tell. I can't currently get the g-suite-identity-sync to work, but then I didn't start playing with the project before Google changed their API settings. So this could be I haven't configured things correctly (which is very possible), or it could be down to the change at Google's side. The error I get is exactly as for this issue (i.e. service account not configured

[2019-11-30 20:09] vvapp opened #51 ""No service was found" when clicking on Sign In"
Hi,

I am trying to use your project and I have followed the installation instructions on Ubuntu 19.04 instance. I can bring up the sign in page, but when I try to click on Sign In, I get "No service was found". I am using docker-compose.yaml from your project.

Error in logs:
identity_1  | 20:04:00.820 WARN  [qtp2009298267-108] Can't find the request for http://35.236.57.123:8181/cxf/oidc/
rp's O

[2019-11-30 21:17] hlavki commented on #51
hi @vvapp, sorry, can't help you with this info. Can you send me your `docker-compose.yml` and full log message? You can find my email in github profile.

[2019-12-02 08:52] hlavki commented on #51
hi @vvapp, according to logs it looks like LDAP service is not running.

[2019-12-09 19:08] hlavki commented on #45
@goneforaburton I tried to install app on clean new g-suite and it worked.  `Enable API Acces` checkbox is enabled by default.

[2019-12-10 09:23] goneforaburton commented on #45
@hlavki interesting, on our console, the option is greyed out, and cannot be selected, as for this screenshot.

![Screenshot 2019-12-10 at 09 22 19](https://user-images.githubusercontent.com/28107253/70516294-a641d800-1b2e-11ea-8eae-05cfb3ca65e6.png)

[2019-12-10 09:37] hlavki commented on #45
yes, that is correct, but I assume it's enabled

[2019-12-10 10:23] goneforaburton commented on #45
OK, no worries. I've obviously got another issue somewhere in that case. When I click on the API access link, it takes me through to a page that details the changes Google have made to their API access to make it specific to individual API's. So I assumed this might be part of the issue as I was troubleshooting service account and API permissions.

[2019-12-15 15:10] hlavki commented on #51
Closing due inactivity. Feel free to reopen is problem occurs.

[2019-12-15 15:10] #51 closed

[2020-01-01 18:27] maacarbo commented on #29
+1 for that enhancement, because it is the 3rd time I'm trying to configure the thing, and it is still not working for me... I'm quite novice on G Suite, so must be my bad for sure...

[2020-01-09 11:47] Tedlar opened #52 "Configurable context-path"
I think it would be a great feature to add ability to configure web applications context-path (base path).
Of course as variable passed to docker container.
So you could change base url from:
http://localhost:8181
to:
http://localhost:8181/new-context

It would enable placing application behind reverse-proxy.

[2020-01-09 20:09] hlavki commented on #52
@Tedlar, you don't need additional context path to configure application behind reverse-proxy. There is example [docker-compose.yml](https://github.com/hlavki/g-suite-identity-sync/blob/master/docker-compose-traefik-v2-ssl.yml) with traefik v2 as reverse proxy. No problem to configure using apache or nginx.

[2020-01-09 21:31] Tedlar commented on #52
Still I have configuration problem.
On host machine I have already few applications.
Those applications are standing behind revers proxy (nginx) so I can access all of them through standard http(s) ports.
So http://my.server.com/app1 -> http://my.server.com:8000
I would like to have same configuration for your syncing app.

[2020-01-09 21:38] hlavki commented on #52
@Tedlar, could you show me your reverse proxy configuration?

[2020-01-09 21:51] Tedlar commented on #52
@hlavki no problem.
[code]

[2020-01-09 22:03] hlavki commented on #52
@Tedlar I am not NGINX expert, but couple of thoughts:
* Why are you using 8183 port number when default port is 8181
* What I read in nginx reverse proxy documentation, this should work:
[code]

[2020-01-09 22:18] Tedlar commented on #52
Nope, not working.
All css and js files are being fetched using wrong path (without '/auth').
I also added configuration:
[code]
Thanks to that application is being loaded properly.
Still 'Redirect url' is messed up. Damn.

[2020-01-09 22:30] Tedlar commented on #52
@hlavki For now i moved your app to base url ('/') and everything works.
I hope that in near future I will be able to move it to proper path ('/auth/')

[2020-01-09 22:49] hlavki commented on #52
yes, I understand your problem. I will let you know if I found some solution.

[2020-01-10 11:14] dimasdjs commented on #10
Hi @hlavki,
i meet same issue , any solution for this case?
i cant register my gsuite to ldap because its cn not uid format.

[2020-01-14 18:40] hlavki opened #53 "Add support to use Common Name (CN) as DN attribute for user entry"
According to issue #10 add support to set CN as user dn attribute.

[2020-01-14 18:52] hlavki commented on #53
@dimasdjs, I don't know if I understand your problem. I created patch that creates user entry with DN: `cn=Michal Hlaváč,ou=people,dc=hlavki,dc=eu` like this:

Attr | Value
-- | --
objectClass | inetOrgPerson (structural)
uid | miso@hlavki.eu
cn | Michal Hlaváč
sn | Hlaváč
employeeNumber | 10071526xxxxxxx636
employeeType | INTERNAL
givenName | Michal
mail | miso@hlavki.eu

Is that what you need?

[2020-01-16 08:05] hlavki commented on #10
@dimasdjs, @rsaple could you please have a look on issue #53

[2020-01-17 00:32] jschnare opened #56 "LDAPSDKUsageException when creating an account."
One of our users is getting this exception when he tries to creates his account.  We're running the latest docker image, tag 4.6.

I'm guessing that it's failing because `account.getFamilyName()` returns null, but I've confirmed that his gsuite account has family, given, and full name details set.  Other users aren't seeing the same error.

Any idea what else I can check?

Stack trace:
[code]

[2020-01-17 09:44] dimasdjs commented on #53
thank you for your respond sir. sorry for my late respond
@hlavki  `cn=Michal Hlaváč,ou=people,dc=hlavki,dc=eu` , this is the format i need sir, without uid , because samba active directory doesnt support with uid.

[2020-01-17 10:36] hlavki commented on #53
thanks @dimasdjs, but does samba support `uid` attribute?

[2020-01-17 11:07] dimasdjs commented on #53
no sir, i've tried a couple times to add `uid` attribute when adding user in samba, but it doesnt work.
and then i see attribute user that created in samba there is no `uid` attribute sir @hlavki

[2020-01-19 23:23] bartusek27 opened #57 "Central Repo no longer accepts HTTP"
Effective January 15, 2020, The Central Repository no longer supports insecure communication over plain HTTP and requires that all requests to the repository are encrypted over HTTPS.

More info for e.g.:
https://stackoverflow.com/questions/59763531/maven-dependencies-are-failing-with-501-error-in-jenkins

Because of this, when I am trying to use docker image, it fails on getting files from centra

[2020-01-20 06:38] hlavki commented on #57
thanks for info @bartusek27, this upstream problem [KARAF-6600](http://issues.apache.org/jira/browse/KARAF-6600) will be fixed in upcoming release 4.2.8. I'll release new version right after this.

[2020-01-20 07:02] lesmono commented on #53
Hi guys, related to this https://wiki.samba.org/index.php/Samba_&_LDAP
I suggest to use LDAP_USER_ATTR_DEFAULT = "cn"; rather than "uid", but you still need to supply "uid" as mandatory attribute.

[2020-01-20 07:47] hlavki commented on #53
Thanks @lesmono, this is exactly what I needed to know. LDAP_USER_ATTR_DEFAULT remains `uid` because of backward compatibility, but will easy to configure.

[2020-01-20 09:35] hlavki commented on #57
Thanks to this issue I discovered bug, because application should not download any artifact on startup. Thanks for report

[2020-01-20 14:39] bartusek27 commented on #57
Thank you for your response!

[2020-01-22 11:49] hlavki commented on #56
@jschnare, will be great if you enable log of request/response from google and look in log what response contains.
As you said it looks like family name is null. thanks
To enable req/resp log run:
[code]
After that you can revert this operation by:
[code]

[2020-01-22 23:02] jschnare commented on #56
Thanks for that tip, it gave me enough info to figure it out.

I thought that the app was pulling the user details from the AdminDirectory API, where we have set the user's full name.  I see now that it's reading the OpenIDConnect userinfo.  In this case the user had gone to https://myaccount.google.com/personal-info/ and set his name to his first name only, no family name.  The error went away on

[2020-01-23 08:50] hlavki commented on #56
thanks for info @jschnare, it's good point, that will be better to to read user info using AdminDirectory API. I will close this issue and open new one for this change.

[2020-01-23 08:50] #56 closed

[2020-01-23 08:52] hlavki opened #59 "Use Admin Directory API to read user info"
According to #56 it will be better to use Admin Directory API to read user info instead of OIDC userinfo.

[2020-01-23 10:23] #57 closed

[2020-01-23 11:15] hlavki commented on #53
this issue should be fixed in master branch, but I cannot test it. Would by great if anobody with samba could test it. To use cn as user attribute you can run:
[code]

[2020-01-23 11:15] #53 closed

[2020-01-28 11:12] lesmono commented on #53
Ok, will update soon about the status of this new code update.
Thanks in advance.

[2020-01-29 05:01] dimasdjs commented on #53
hello sir @hlavki

thank you for your update.
ive tried use your updated image, but i still get same error.

here is my docker-compose.yml:

[code]

i didnt create ldap image because i already had one.

and here is the screenshoot of error message:

![image](https://user-images.githubusercontent.com/31427476/73329111-e7cd4480-428e-11ea-81fb-e6318142d74a.png)

I hope it can help you sir.

Thank you

[2020-01-29 17:41] hlavki commented on #53
@dimasdjs, did you configure application as described here?
Can you send me output of this command?
[code]

[2020-01-30 03:06] dimasdjs commented on #53
@hlavki Sorry sir i missed that wiki, i have configured as described in your wiki, the error before doesnt show up, but i get another error, below:

![image](https://user-images.githubusercontent.com/31427476/73416636-122f0880-4348-11ea-88a2-4c1b22c3659d.png)

Thankyou sir @hlavki .

[2020-01-30 07:37] hlavki commented on #53
@dimasdjs thanks for info, but this is only consequence of previous error. Could you please send me full karaf.log?
[code]

thanks

[2020-01-30 07:43] hlavki commented on #53
I'll try it using some samba ldap docker image

[2020-01-30 07:53] dimasdjs commented on #53
Hi sir @hlavki , i checked my ldap the group was created but the user was not.

here is error from logs

![image](https://user-images.githubusercontent.com/31427476/73430167-fc353e00-436f-11ea-8e32-a40fc9e789a7.png)

im sorry i cant drop all the logs here , because some contain some information that i cant share sir.

thankyou in advanced before sir.

[2020-01-30 07:56] hlavki commented on #53
@dimasdjs what is your LDAP structure? Users are created in `ou=people,dc=domain,dc=com` organization unit. There should be some error or info in log why user was not created!

[2020-01-30 08:21] dimasdjs commented on #53
hi sir @hlavki i recheck in my ldap, the user was created in OU=people, but my ldap store user in CN=Users, maybe it causes the error.

here is the logs

`
identity_1  | 04:54:46.126 INFO  [features-3-thread-1]   mvn:com.fasterxml.jackson.core/jackson-annotations/2.10.1
identity_1  | 04:54:46.132 INFO  [features-3-thread-1]   mvn:com.fasterxml.jackson.core/jackson-core/2.10.1
identity_1  | 04:54:4

[2020-01-30 16:52] hlavki commented on #53
hi, could you please run this configuration command and try it again?

[code]

[2020-02-03 03:59] dimasdjs commented on #53
hi sir @hlavki , it works , finally, thanks in advance sir.

[2020-02-09 16:37] bartusek27 commented on #45
Hello, it seems that I have similar problem as @goneforaburton - I am fairly certain that I've configured service account best I could (since your tutorial should be deprecated since creation of Service Accounts is different now), but I still get Error Occured (401 Unauthorized) when trying to paste JSON into the Setup.
@hlavki Can you verify that your tutorial is up-to-date and is not missing any

[2020-02-09 22:34] hlavki commented on #45
@bartusek27, it looks same as this:
https://github.com/hlavki/g-suite-identity-sync/issues/45#issuecomment-534030168

[2020-02-10 17:24] bartusek27 commented on #45
Looks like, but it isn't :)

![image](https://user-images.githubusercontent.com/11354418/74147590-cdd32080-4c03-11ea-8aec-817b2661aebb.png)
See for yourself...
And that Enable API access is no longer available in Admin - it was replaced with per-application trustworthines

[2020-02-12 15:07] bartusek27 commented on #45
@hlavki I've checked it and everything should be fine, it's strange :(

[2020-02-12 15:15] hlavki commented on #45
@bartusek27 good to know it works. Anyway one question. Did you remove and then create service account using same name? Because what I know, if you did, GCP behavior can be unpredictable.

[2020-02-12 15:44] bartusek27 commented on #45
@hlavki We probably misunderstood - it still doesn't work - I mean from my side of configuring it in GCP. But with that same name problem, I will try to create it from scratch using different name.
Will let you know.
Thank you!

[2020-02-19 03:54] lesmono opened #60 "Question: Is it possible to sync all GSuite users into the LDAP without manually sign-in for each user?"
Hi @hlavki, what a great app.
I am curious in some of the functionality of this application. Is it possible to do **full periodical sync** of the **G-Suite** account and group into the LDAP without forcing the user to manually sign-in one by one?

[2020-02-19 05:55] hlavki commented on #60
Thanks @lesmono, this functionality is not supported at this moment. The reason is simple:
1. There is no way, how to synchronize password from GSuite to LDAP

So if you synchronize all users without setting password, they can't login.

[2020-02-19 07:49] lesmono commented on #60
Ok noted. When does `scheduled synchronizers` run? Can we set the value (e.g every 1 minute, or every 01:00 AM )?
Also, what version of JDK to develop this app? I tried to build and run it in my local, but produce some errors, I think it's related to the version of installed JDK.

Here is the error:
[code]

[code]

[2020-02-19 08:22] hlavki commented on #60
1. To build application you need **java 11**.
1. You can configure when scheduler runs. Default is every hour, but you can configure it. It uses apache karaf scheduler. The way how to configure you can find in [karaf documentation](http://karaf.apache.org/manual/latest/#_scheduler).
1. If you need run synchronization every minute, then better option is to use [push notifications](https://github.co

[2020-02-19 19:07] hlavki commented on #60
Closing this, but feel free to reopen or create new one If you have another question.

[2020-02-19 19:07] #60 closed

[2020-02-25 06:55] lesmono commented on #60
Thanks, man, appreciated. I hope I can contribute more to this cool app in the future.

[2020-03-04 04:59] lesmono opened #61 "Question: Can we run on clustered mode, or only support standalone mode?"
Hi, @hlavki I will try to run this on AWS ECS, is this app support clustered mode, or only run in standalone mode?

[2020-03-22 09:48] hlavki commented on #61
Hi @lesmono, sorry for later answer. Since this project was designed for smaller companies, there is no support for clustered deployment. Anyway if you take what this application do, I think also standalone mode is able to handle large companies without problem.

[2020-03-23 03:15] lesmono commented on #61
Aha, that makes sense. On the set-up for the first time, we input some `json` data from the service account created before, is it stored persistently? Can we move all configuration to `ENVIRONMENT VARIABLES`?

[2020-04-01 11:57] AhmadAbuHashem opened #62 "problem when I log in"
I hope you can guide me through in my problem.
I have g-suite-identity-sync in docker.  But When I go to it through IP adress I get
![g-suit-1](https://user-images.githubusercontent.com/37737394/78134444-7477b880-7420-11ea-8d63-1f9383cc3317.png)

instead of the picture you have showed.
I am not so technically involved in docker but I would like to have this solution. how can I get the right soluti

[2020-04-01 20:06] hlavki commented on #62
It seem that you have older version, which configuration is not compatible with latest version. There is also wiki about [upgrade from older version](https://github.com/hlavki/g-suite-identity-sync/wiki/Upgrade-from-0.3.x)

[2020-04-01 21:24] hlavki commented on #61
@lesmono, you can use environment variables for subset of configuration at this moment. Not for all. Feel free to open issue or create pull request.

[2020-04-01 21:24] #61 closed

[2020-04-02 14:57] hlavki commented on #62
According to gitter discussion, now it works

[2020-04-02 14:57] #62 closed

[2020-04-19 13:25] lesmono commented on #45
@bartusek27 Any update about this case, i got exactly same problem with new gsuite interface.

[2020-06-23 12:32] Ahmadhashem86 opened #66 "I have moved the whole application to a new server. I have a problem starting osixia/openldap"
# docker ps -a
7c81150f96a2        osixia/openldap                "/container/tool/run"    8 minutes ago       Exited (1) 3 seconds ago                                                                    g-suite-identity-sync_ldap_1

I can send the log file and docker-compose file
version: "3"
services:
  identity:
    image: hlavki/g-suite-identity-sync
    ports:
      - 8181:8181
      - 8101:81

[2020-07-06 14:09] theobaud-faber opened #67 "Problem : got "Cannot authenticate user. Status: 403""
Hello,

I try for couple of days to understand why I have this error.
I know that's the message speaks for itself. But I don't get it why, because I have a identity.admins group created, I'm a member of this group and my account has admin permissions.

When I "sign in" with mypage:8181/#/sign-in, I've got this with the web console :

[code]

Can you help me please ?

​

​

[2020-07-06 14:51] hlavki commented on #67
hi @TheoB-faber, can you please provide full log from docker container? You can send it to my email. thanks

[2020-07-17 06:14] deantheiceman opened #69 "Username attribute"
uid is set to the email, is it possible to get the "username" like dean from dean@domain.com ?

Thanks

[2020-07-17 07:14] hlavki commented on #69
hi @deantheiceman,

this is not supported and reason is that you can allow access for all google users (e.g. dean@gmail.com), so this could end with conflicts.

[2020-07-27 11:27] Angelin01 opened #70 "Failed to connect with TLS"
I'm trying to setup a fresh install, however my LDAP connection requires TLS and it seems the service fails when trying to connect because of this:

[code]

Now, I am using osixia/openldap and have configured the client TLS to "allow": `LDAP_TLS_VERIFY_CLIENT: 'allow'`. All my other applications can connect successfully.

There's nothing special in my config:

[code]

Is there any way to fix this?

[2020-07-28 20:43] hlavki commented on #70
hi @Angelin01,

this is legit note, but unfortunately this software does not support it. I'll look on it as soon as possible.

[2020-08-09 22:26] sonatype-depshield[bot] opened #73 "[DepShield] (CVSS 8.1) Vulnerability due to usage of com.fasterxml.jackson.core:jackson-databind:2.9.10.4"
**Vulnerabilities**

DepShield reports that this application's usage of [com.fasterxml.jackson.core:jackson-databind:2.9.10.4](https://ossindex.sonatype.org/component/pkg:maven/com.fasterxml.jackson.core/jackson-databind@2.9.10.4) results in the following vulnerability(s):

- (CVSS **8.1**) [[CVE-2020-14061] FasterXML jackson-databind 2.x before 2.9.10.5 mishandles the interaction betwee...](https

[2020-09-11 17:15] alex4108 opened #76 "G Suite Account Multiple Domains not recognized"
My G Suite account consists of multiple domains.  A tree is diagrammed below

ROOTDOMAIN.com

My super admin account is part of ORG1.com

When I configure the application with environment variable `GSUITE_DOMAIN=ROOTDOMAIN.com`, I get a 401 Unauthorized trying to sign in as my user in ORG1.com.

If I reconfigure the application for `GSUITE_DOMAIN=ORG1.com` I am able to log in to the application.

[2020-09-11 18:14] hlavki commented on #76
Hi @alex4108,

yes, multiple domains are not supported yet, since I have only single domain accounts. I can't handle new features at this moment because I haven't free time. Feel free to handle it and post pull request.

[2020-10-26 20:57] hlavki opened #77 "Illegal character in path at index 83"
Getting error when adding account to LDAP.

[code]

[2020-10-26 22:58] hlavki commented on #77
I don't know why, but Jettison does not unescape unicode characters. Fixed by dffca20a263866e0327cb27805135418d515b2a6

[2020-10-26 22:58] #77 closed

[2020-10-26 23:02] hlavki commented on #70
fixed in `v0.5.0`

[2020-10-26 23:02] #70 closed

[2020-10-26 23:03] #73 closed

[2020-10-26 23:03] hlavki commented on #67
Closing due inactivity

[2020-10-26 23:03] #67 closed

[2020-10-26 23:05] hlavki commented on #66
Sorry, this is out of scope of this project

[2020-10-26 23:05] #66 closed

[2021-01-14 11:53] pymenow opened #80 "HTTPS instead of http"
Hello ,

thanks for this really good solution !
I have setup a docker container, and using Apache reverse proxy used https://ldap.domain.com as the URL.
However I get an error -

Error 400: redirect_uri_mismatch
The redirect URI in the request, http://ldap.domain.com/cxf/oidc/rp/complete, does not match the ones authorized for the OAuth client. To update the authorized redirect URIs, visit:

Ive u

[2021-01-16 19:56] hlavki commented on #80
Hi, we used apache on some installations and configuration looks like this:

[code]

[2021-01-18 04:10] pymenow commented on #80
Thank you - issue resolved.

[2021-01-18 04:10] #80 closed

[2021-01-18 13:22] pymenow opened #81 "LDAP Client to LDAP Server Mapping"
I have everything setup with G-Suite-identity-sync and Free radius, this stack works as expected .
I am now trying to get Synology LDAP client to connect to the open LDAP server thats synced to gsuite.
The below is the mapping, the users sync , but the names show up as john.doe@domain.com@domain.com .
Any feedback on the mapping will help. Any ldapsearches to run to get the mapping right ?

![LDAP

[2021-01-19 06:34] pymenow commented on #81
Please ignore this I got freeradius working. Had to regenerate the certs.
However if other want to levrage Synology  LDAP client+ Radius server, this info will still be useful

[2021-01-19 16:34] pymenow commented on #69
this is an extremely useful option for single domain requirements. any quick hack that i can manually try ?

[2021-04-29 13:06] hdang-omnirobotic opened #85 "sonatype nexus"
Hi
I would like to use this tool to interface it between sonatype nexus and google as it seem possible but i did not understand how.

Can you help me ?

Thanks

[2021-04-30 09:25] hlavki commented on #85
Hi, this software synchronizes G Suite (now Google Workspace) users and groups to LDAP. Then you can use this LDAP as an authentication and authorization provider for your Sonatype Nexus. Keep in mind that it's impossible to synchronize passwords from Google Workspace, so you have to create one in LDAP.

[2021-06-29 15:55] #85 closed

[2021-07-29 19:23] #81 closed

[2021-07-29 19:24] hlavki commented on #69
Hi @deantheiceman, I'll try to implement this in next version

[2021-12-05 16:52] Ahmadhashem86 opened #89 "HTTP ERROR 500 org.apache.cxf.rs.security.oauth2.provider.OAuthServiceException: Invalid issuedAt claim URI: /cxf/oidc/rp/complete STATUS: 500 MESSAGE: org.apache.cxf.rs.security.oauth2.provider.OAuthServiceException: Invalid issuedAt claim SERVLET: cxf-osgi-transport-servlet CAUSED BY: org.apache.cxf.rs.security.oauth2.provider.OAuthServiceException: Invalid issuedAt claim CAUSED BY: org.apache.cxf.rs.security.jose.jwt.JwtException: Invalid issuedAt"
<h2 style="color: rgb(0, 0, 0); font-family: &quot;Times New Roman&quot;; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; t

[2021-12-06 20:33] Ahmadhashem86 opened #90 "HTTP ERROR 500 org.apache.cxf.rs.security.oauth2 PLEASE help! I give all details below"
Last few lines from
# docker logs <container ID>
20:25:00.967 INFO  [paxweb-extender-1-thread-1] registering JasperInitializer
20:25:00.968 INFO  [paxweb-extender-1-thread-1] No DecoratedObjectFactory provided, using new org.eclipse.jetty.util.DecoratedObjectFactory[decorators=1]
20:25:01.000 INFO  [paxweb-extender-1-thread-1] Started HttpServiceContext{httpContext=WebAppHttpContext{eu.hlavki.iden

[2021-12-06 20:34] #89 closed

[2021-12-06 20:34] Ahmadhashem86 commented on #89
You can close this one so I give all details in the new one!

[2022-01-06 23:12] pjt0620 opened #92 "Samba setup issue"
Hi, great work so far on this project.
I'm having an issue when running the command
`docker-compose exec identity /opt/karaf/bin/client     'config:edit eu.hlavki.identity.ldap; config:property-set ldap.users.dnAttr cn; config:property-set ldap.users.baseDN CN=Users; config:update'`
I get a prompt that says "Enter user:" what user is this referring to?

[2022-01-07 09:50] hlavki commented on #92
fixed by 873c7ad8f9fa353f79dcb1a603c11502afb5e20b released in v0.6.1

[2022-01-07 09:50] #92 closed

[2022-01-24 06:27] boomzero commented on #43
Hi @hlavki , may I know how did you fix the problem?
I'm facing the same one (latest version).
Thank you very much !

[2022-01-24 09:01] hlavki commented on #43
Hi @boomzero, there was an invalid username format for LDAP. Value for `SLAPD_BIND_DN` should be `cn=admin,dc=domain,dc=com`. But it's possible that this is not your case. You can send me your anonymized docker-compose.yml if you want.